@page "/render"
@using System.Windows.Input
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization

@inject IJSRuntime JS
@inject DirectXScreenshotService ScreenshotService

<PageTitle>Render</PageTitle>

<p>@Input.Message</p>
<canvas id="canvas" width="@Width" height="@Height"></canvas>
<p>FrameNum: @FrameIndex Fps: @AverageFps RenderTime: @AverageRenderTime</p>

@code
{
    bool isRunning = true;
    uint frameIndex = 0;
    List<double>? deltaTimes;
    List<double>? renderTimes;
    Remote.RemoteClient? client;
    IRenderer? renderer;

    public InputModel Input = new();
    public string FrameIndex = string.Empty;
    public string AverageFps = string.Empty;
    public string AverageRenderTime = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery(Name = "delay")]
    public int? Delay { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "isverified")]
    public bool? IsVerified { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "inputenabled")]
    public bool? InputEnabled { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "width")]
    public long? Width { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "height")]
    public int? Height { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "rendermethod")]
    public string? RenderMethod { get; set; }

    protected override void OnInitialized()
    {
        Input.FrameRate = "250 ms";
        Width ??= 1280;
        Height ??= 720;
        IsVerified ??= false;
        InputEnabled ??= false;
        Delay = Math.Max(1, Delay ?? 11);
        AverageFps = "0.00";
        deltaTimes = new();
        renderTimes = new();
        RenderMethod ??= "webgl";

        RunPeriodicUpdate(1000);

        base.OnInitialized();
    }

    private async void RunPeriodicUpdate(int millisecondsDelay)
    {
        while (isRunning)
        {
            while (deltaTimes?.Count == 0 && isRunning)
                await Task.Delay(millisecondsDelay);

            FrameIndex = frameIndex.ToString();
            AverageRenderTime = $"{1 / renderTimes?.Average():F} ms";
            AverageFps = $"{1 / (deltaTimes?.Average() + renderTimes?.Average()):F}";
            deltaTimes?.Clear();
            renderTimes?.Clear();
            StateHasChanged();
            await Task.Delay(millisecondsDelay);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && Delay is not null && JS is not null)
        {
            try
            {
                renderer = RenderMethod switch
                {
                    "webgl" => new WebGLTextureRenderer(JS, ScreenshotService),
                    //"imagedraw2d" => new Renderer(canvasReference, ScreenshotService, JS),
                    _ => throw new Exception("Invalid renderer")
                };

                await renderer.Setup();
                var lastRender = DateTime.Now;
                while (true)
                {
                    var dt = (DateTime.Now - lastRender).TotalSeconds;
                    deltaTimes?.Add(dt);

                    lastRender = DateTime.Now;
                    await renderer.Draw();
                    var lastRenderTime = (DateTime.Now - lastRender).TotalSeconds;
                    renderTimes?.Add(lastRenderTime);

                    //await Task.Delay(Delay.Value - (int)lastRenderTime * 1000);
                    frameIndex++;
                    lastRender = DateTime.Now;
                }
            }
            catch (Exception e)
            {
                isRunning = false;
                Console.WriteLine(e.Message);
                Input.Message = e.Message;
                StateHasChanged();
            }
        }
    }

    [JSInvokable("eventMouseDown")]
    public async void eventMouseDown(int x, int y, int button)
    {
        if (!InputEnabled.HasValue
            || !InputEnabled.Value
            || client is null
            || !isRunning)
            return;
        await client.SendMouseEventAsync(new MouseEvent()
            {
                Type = (MouseButton)button switch
                {
                    MouseButton.Left => EventType.Leftdown,
                    MouseButton.Right => EventType.Rightdown,
                    _ => EventType.Leftdown
                },
                X = x,
                Y = y
            });
    }

    [JSInvokable("eventMouseUp")]
    public async void eventMouseUp(int x, int y, int button)
    {
        if (!InputEnabled.HasValue
            || !InputEnabled.Value
            || client is null
            || !isRunning)
            return;
        await client.SendMouseEventAsync(new MouseEvent()
            {
                Type = (MouseButton)button switch
                {
                    MouseButton.Left => EventType.Leftup,
                    MouseButton.Right => EventType.Rightup,
                    _ => EventType.Leftup
                },
                X = x,
                Y = y
            });
    }

    [JSInvokable("eventMouseMove")]
    public async void eventMouseMove(int x, int y)
    {
        if (!InputEnabled.HasValue
            || !InputEnabled.Value
            || client is null
            || !isRunning)
            return;
        await client.SendMouseEventAsync(new MouseEvent()
            {
                Type = EventType.Move,
                X = x,
                Y = y
            });
    }
}
